-# <h3>User</h3>
-# <p>Email: <%= @user.email if @user.email %></p>

.main.valign-wrapper
  .fade-in-cover.animated
  .container.valign
    .row
      .col.s6.offset-s3.l4.offset-l4
        .card.animated
          .card-image.waves-effect.waves-block.waves-light
            %img.activator{:src => "https://scontent-syd1-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/12274198_10153784101803875_6911231072971934638_n.jpg?oh=e00bed398e4653af46ba5d383580ff25&oe=578C8EDE"}/
          .card-content.animated
            %span.card-title.activator.grey-text.text-darken-4
              Chanelle Lynn Duley
              %i.material-icons.right list
            %p
              %a{:href => "#"} Go to Facebook
          #bio.card-reveal
            %span.card-title.grey-text.text-darken-4
              Bio
              %i.material-icons.right close
            %blockquote
              Age:
              %span.thinner 24
            %blockquote
              Primmary Interests:
              %span.thinner Art, Music and Literature
            %span.card-title.grey-text.text-darken-4 All Time Favorites
            %blockquote
              Book:
              %a{:href => "#"} Great Expectations
            %blockquote
              Movie:
              %a{:href => "#"} The Darjeerling Limited
            %blockquote
              TV Series:
              %a{:href => "#"} Adventure Time
            %span.card-title.grey-text.text-darken-4 2015 Favorites
            %blockquote
              Book:
              %a{:href => "#"} Rant
            %blockquote
              Movie:
              %a{:href => "#"} What We Do In The Shadows
            %blockquote
              TV Series:
              %a{:href => "#"} Game of Thrones
            %span.card-title.grey-text.text-darken-4 2014 Favorites
            %blockquote
              Book:
              %a{:href => "#"} Barry Trotter and the Mystical Bullshit
            %blockquote
              Movie:
              %a{:href => "#"} The Secret Lives of Dentists
            %blockquote
              TV Series:
              %a{:href => "#"} Buff the Vampire Slayer
